@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
   --primary-color: #f38126;
   --lighter-primary-color: #f381261a;
   --secondary-color: #fff;
   --screen-bg-color: #44240b;
   --black-color: #000;
   --max-w-xxl: 1400px;
   --main-heading: 48px;
   --sub-heading1: 36px;
   --sub-heading2: 30px;
   --sub-heading3: 24px;
   --fs-20: 20px;
   --fs-18: 18px;
   --fs-16: 16px;
   --fs-14: 14px;
   --box-shadow: 0 4px 4px rgba(243, 129, 38, 0.25);
}

*,
html {
   scroll-behavior: smooth;
}

body {
   min-height: 100vh;
   background: var(--screen-bg-color);
   color: var(--secondary-color);
   font-size: 1rem;
   font-family: "Quicksand", sans-serif;
}

/* Common CSS Classes */
.max-w-xxl {
   max-width: var(--max-w-xxl);
   margin: 0 auto;
}
